
.vs/MidAgeRevolution/DesignTimeBuild/.dtbcache.v2
.vs/MidAgeRevolution/v16/.suo
.vs/MidAgeRevolution/v16/.suo
Content/obj/DesktopGL/Content/.mgcontent
Content/obj/DesktopGL/Content/.mgcontent
Content/obj/DesktopGL/Content/.mgcontent
Content/obj/DesktopGL/Content/.mgstats
Content/obj/DesktopGL/Content/.mgcontent
Content/obj/DesktopGL/Content/.mgstats
Content/obj/DesktopGL/Content/.mgcontent
*.v2
.vs/MidAgeRevolution/v16/.suo
